<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">
<listeners>
<listener class-name="com.rda.automation.testAutomation.customelistner.Listener"></listener>
</listeners>
<test name="TC002_VerifyRegistration">
<classes>
<class name="com.rda.automation.testAutomation.homepage.TC002_VerifyJabongRegistration"></class>
</classes>
</test>
</suite>